body {
  margin: 0;
  background: #f1f3f6;
  font-family: Poppins, sans-serif;
}

.cart-header {
  background: #2874f0;
  padding: 18px 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-btn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.cart-container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.cart-items {
  flex: 2.5;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  background: #fafafa;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  animation: fadeIn 0.4s ease;
}

.cart-item img {
  width: 110px;
  height: 110px;
  object-fit: contain;
  border-radius: 10px;
}

.item-details {
  margin-left: 20px;
  flex: 1;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
}

.price {
  margin-top: 8px;
  font-size: 20px;
  color: #2874f0;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-btn {
  padding: 6px 10px;
  background: #ddd;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.remove-btn {
  background: #ff4b2b;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.cart-summary {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  height: fit-content;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.summary-text {
  font-size: 17px;
  margin: 10px 0;
}

.summary-total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 18px;
}

.checkout-btn {
  width: 100%;
  background: #ff9f00;
  border: none;
  padding: 12px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
}

.checkout-btn:hover {
  background: #fb641b;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}
